<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=""width=device-width, initial-scale="1.0">
  <title>Benford's Law</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  Benford's Law
  <!-- Box and button-->
  <input type="text">
  <input type="submit" value="Submit">
  <!-- Result -->
  <script src="../utils/mathUtils.js"></script>
</body>
</html>