<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Benford's Law</title>
  <link rel="stylesheet" href="../public/stylesheets/styles.css" type="text/css" />
</head>
<body>
  Benford's Law
  <!-- Box and button-->
  <form action="/process" method="POST">
    <input type="text" name="userInput" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>