<%- include ('header') %>

  <div class="container"?>
    <h1 class="display-1">Benford's Law</h1> 
    <!-- Box and button-->
    <form action="/process" method="POST">
      <input type="text" name="userInput" required>
      <button type="submit">Submit</button>
    </form>  
  </div>

<%- include ('footer') %>

<!-- https://www.youtube.com/playlist?list=PL4cUxeGkcC9joIM91nLzd_qaH_AimmdAR -->