<%- include ('header') %>

  Benford's Law
  <!-- Box and button-->
  <form action="/process" method="POST">
    <input type="text" name="userInput" required>
    <button type="submit">Submit</button>
  </form>

<%- include ('footer') %>