<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout') %>
</head>
<body>
  Benford's Law
  <!-- Box and button-->
  <form action="/process" method="POST">
    <input type="text" name="userInput" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>